<%= form_with model: @testcase do |form| %>
    <div class="box tabular">
      <p>
        <label>Name:</label>
        <%= form.text_field :testcase_name %>
      </p>
      <p>
        <label>Precondition</label>
        <%= form.text_area :description, rows: 5, cols: 5 %>
      </p>
      <p>
        <label>Postaction</label>
        <%= form.text_field :postaction %>
      </p>
      <p>
        <fieldset>
          <legend>Steps:</legend>
          <div class="w3-row">
            <div class="w3-quarte">
              <label>Name</label>
              <%= form.text_field :command %>
            </div>

            <div class="w3-quarte">
              <label>Exactly</label>
              <%= form.check_box :exactly %>
            </div>

            <div class="w3-quarte">
              <label>Expected Output</label>
              <%= form.text_field :expected_output %>
            </div>
            <span class="icon icon-plus"></span>
          </div>
        </fieldset>
      </p>
    </div>
    <%= form.submit %>
<% end %>