<h2>TestCase</h2>

<div class="autoscroll">
  <table class="list issues odd-even">
    <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Description</th>
      <th>Tags</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <% @testcases.each do |p| %>
        <tr>
          <td><%= p.id %></td>
          <td><%= p.precondition %></td>
          <td><%= p.postaction %></td>
          <td></td>
          <td>

          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>