<%= form_with model: @package do |form| %>
    <div class="box tabular">
      <p>
        <label>Name:</label>
        <%= form.text_field :package_name %>
      </p>
      <p>
        <label>Description</label>
        <%= form.text_area :description, rows: 5, cols: 5 %>
      </p>
    </div>
    <%= form.submit %>
<% end %>