<div class="contextual">
  <%= link_to t('ro.lbl_package_new'), new_ro_package_path, :class => 'icon icon-add new-issue' %>
</div>
<h2>Packages</h2>

<div class="autoscroll">
  <table class="list issues odd-even">
    <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Description</th>
      <th>Tags</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <% @packages.each do |p| %>
        <tr>
          <td><%= link_to p.id, ro_package_path(p.id) %></td>
          <td><%= link_to p.package_name, ro_package_path(p.id) %></td>
          <td><%= p.description %></td>
          <td></td>
          <td>
            <%= link_to 'Edit', edit_ro_package_path(p.id) %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>