<form class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-2 control-label">Package Name</label>
    <div class="col-sm-10">
      <p class="form-control-static"><%= @package.package_name %></p>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Description</label>
    <div class="col-sm-10">
      <p class="form-control-static"><%= @package.description %></p>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Test Cases</label>
    <div class="col-sm-10">
      <div class="panel panel-default">
        <div class="panel-heading">
          <label class="btn btn-success btn-xs" data-toggle="modal" data-target="#addTestCase">Add Test Case</label>
        </div>
        <div class="panel-body">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>TestCase1</td>
              <td>Des1</td>
              <td><span class="label label-success">Active</span></td>
            </tr>
            <tr>
              <td>TestCase1</td>
              <td>Des1</td>
              <td><span class="label label-default">Waiting</span></td>
            </tr>
            <tr>
              <td>TestCase1</td>
              <td>Des1</td>
              <td><span class="label label-default">Waiting</span></td>
            </tr>
            <tr>
              <td>TestCase1</td>
              <td>Des1</td>
              <td><span class="label label-success">Active</span></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</form>

<!-- Modal -->
<div class="modal fade" id="addTestCase" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>